.swiper_stepper {
	overflow: hidden;
	background:gray;
	margin: 50px;
	.dosirak_area{
		margin: 0 auto;
		width: 80%;
		height: 200px;
		background: gray;
		.dosirak{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			width: 100%;
			height: 100%;
			li{
				background: purple;
				border: 1px solid gray;
				font-size: 20px;
			}
		}
	}
	.stepper_swiper{
		overflow: visible;
		margin-top: 100px;
		.swiper-slide{
			ul{
				display: grid;
				grid-template-columns: 1fr 1fr;
				li{
					margin: 10px;
					label{
						div{
							font-size: 20px;
							padding: 50px 0;
							background: yellowgreen;
						}
					}
					input{
						display: none;
					}
					input:checked + div{
						background: yellow;
					}
				}
			}
		}
		// 네비게이션
		.swiper-button-next,
		.swiper-button-prev{
			top: -30%;
			color: yellow
		}
		.swiper-button-next{
			pointer-events: none;
			opacity: 0.5;
			&.on{
				pointer-events: unset;
				opacity: 1;
			}
		}
		// 페이지네이션
		.swiper-pagination{
			bottom: 110%;
		}
		.swiper-pagination-bullet{
			background-color: yellow;
			width: 30px;
			height: 30px;
			bottom: 100%;
			&::before{
				content: '';
				position: absolute;
				top: 50%;
				left: 0%;
				transform: translateY(-50%);
				width: 100%;
				height: 3px;
				background-color: #fff;
			}
		}
		.swiper-pagination-bullet{
			position: relative;
			background-color: skyblue;
			width: 50px;
			height: 50px;
			opacity: unset;
			&::before{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;
				font-size: 14px;
				line-height: 1;
			}
			&.swiper-pagination-bullet-active{
				background-color: yellow;
			}
		}
		.swiper-pagination-bullet:nth-child(1){
			&::before {
				content: '밥';
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.swiper-pagination-bullet:nth-child(2){
			&::before {
				content: '메인반찬';
			}
		}
		.swiper-pagination-bullet:nth-child(3){
			&::before {
				content: '서브반찬';
			}
		}
		.swiper-pagination-bullet:nth-child(4){
			&::before {
				content: '채소/김치';
			}
		}
		.swiper-pagination-bullet:nth-child(5){
			&::before {
				content: '완료';
			}
		}
		.swiper-pagination-bullet.active {
			background-color: yellow; /* active된 bullet의 배경 색상 */
		}
		.swiper-button-disabled{
			pointer-events: none !important;
			opacity: 0 !important;
		}
	}
}