.alert_pop,
.confirm_pop{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 88%;
	max-width: 350px;
	padding: 40px 20px;
	border-radius: 20px;
	font-size: 16px;
	font-weight: bold;
	background: #fff;
	z-index: 9999;
	.cont{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.btn_wrap2{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 80%;
		}
		.pop_tit{
			padding: 20px 0px;
		}
		.btn_confirm{
			width: 49%;
			padding: 15px 20px;
			border: 1px solid #3fd31a;
			background: #ffecdc;
			border-radius: 10px;
			font-size: 16px;
			font-weight: bold;
		}
		.btn_close{
			width: 49%;
			padding: 15px 20px;
			border: 1px solid #ffa356;
			background: #ffecdc;
			border-radius: 10px;
			font-size: 16px;
			font-weight: bold;
		}
	}
}