#alert_box {
  background: skyblue;
  padding: 20px;
  color: #fff;
  border-radius: 5px;
  justify-content: space-between;
  display: none;
}

#alert_box.show {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: unset;
}

.modal_bg {
  display: flex;
  visibility: hidden;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 10%;
  border-radius: 25px;
  background: black;
  opacity: 0;
  transition: 0.3s;
}
.modal_bg.show {
  visibility: visible;
  opacity: 0.6;
}
.modal_bg .modal_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
  border-radius: 25px;
  background: #fff;
}
.modal_bg .my-3 .form_control {
  padding: 0 10px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
.modal_bg .my-3 p {
  visibility: hidden;
  margin: unset;
  font-size: 11px;
  color: red;
}
.modal_bg .my-3 p.on {
  visibility: visible;
}
.modal_bg .btn_wrap {
  display: flex;
  margin-top: 10px;
}
.modal_bg .btn_wrap .btn {
  color: #fff;
  width: 50%;
  height: 30px;
  border: none;
}
.modal_bg .btn_wrap .btn_primary {
  background: blue;
}
.modal_bg .btn_wrap .btn_danger {
  background: red;
}

.dark_mode_area {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.dark_mode_area .btn_dark {
  background: #303030;
  border: 1px solid #000;
  color: #fdfdda;
  border-radius: 5px;
  padding: 3px 10px;
}
.dark_mode_area .btn_dark.light {
  background: #fdfdda;
  color: #303030;
  border: 1px solid #ffff41;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.carousel ul {
  margin: 0;
  padding: 0;
}
.carousel ul li {
  list-style: none;
}
.carousel .slide {
  width: 500px;
  overflow: hidden;
}
.carousel .img_wrap {
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  align-items: flex-start;
  transition: 0.5s;
}
.carousel .img_wrap li {
  width: 500px;
  height: 100%;
  flex-shrink: 0;
}
.carousel .img_wrap li.img01 {
  background: skyblue;
}
.carousel .img_wrap li.img02 {
  background: yellowgreen;
}
.carousel .img_wrap li.img03 {
  background: plum;
}
.carousel .img_wrap li.img04 {
  background: rgb(137, 130, 234);
}
.carousel .img_wrap li.img05 {
  background: rgb(218, 206, 102);
}
.carousel .btn_wrap {
  display: flex;
}
.carousel .btn_wrap li {
  padding: 20px 24px;
  color: #fff;
  background: #000;
}
.carousel .btn_wrap li ~ li {
  margin-left: 10px;
}
.carousel .btn_wrap02 {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.carousel .btn_wrap02 button {
  padding: 20px 24px;
  background: #000;
  color: #fff;
}

.return .prd_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.return .prd_wrap li {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.return .prd_wrap .img {
  width: 90%;
  height: 50px;
  background: #ffff41;
}
.return .prd_wrap p {
  font-size: 16px;
}

.scroll {
  margin: 0;
  padding: 0;
}
.scroll .navbar {
  padding: 20px;
  background: gray;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.scroll .navbar .logo {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: 0.3s;
}
.scroll .side_ui {
  position: fixed;
  width: 10px;
  height: 100dvh;
  background: rgb(248, 248, 162);
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 999;
}
.scroll .side_ui .read {
  height: 0%;
  background: black;
}

.modal header {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 40px;
}
.modal header h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.modal header .btn_wrap button {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.modal header .btn_wrap button ~ button {
  margin-left: 10px;
}
.modal .alert_pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.modal .alert_pop.view {
  visibility: visible;
}
.modal .alert_pop .input_wrap {
  background: #fff;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  cursor: default;
}
.modal .alert_pop .input_wrap h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}
.modal .alert_pop .input_wrap .input_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .alert_pop .input_wrap .input_box ~ .input_box {
  margin-top: 10px;
}
.modal .alert_pop .input_wrap .input_box p {
  margin-right: 10px;
}
.modal .alert_pop .input_wrap .input_box input {
  padding: 5px 0;
}
.modal .alert_pop .input_wrap .btn_wrap {
  display: flex;
  padding: 20px 20px 0;
}
.modal .alert_pop .input_wrap .btn_wrap button {
  width: 50%;
  padding: 5px 0;
  border-radius: 5px;
  border: none;
  color: #fff;
  background: #000;
  cursor: pointer;
}
.modal .alert_pop .input_wrap .btn_wrap button ~ button {
  margin-left: 5px;
}

.array .card_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.array .card {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.array .card .img {
  width: 150px;
  height: 100px;
  background: yellow;
}

.select01 .size.hide {
  display: none;
}/*# sourceMappingURL=main.css.map */