#alert_box {
	background: skyblue;
	padding: 20px;
	color: #fff;
	border-radius: 5px;
	justify-content: space-between;
	display: none;
}
#alert_box.show{
	display: flex;
}
*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
img{
	display: block;
	width: 100%;
}
p{
	margin: unset;
}
.modal_bg{
	display: flex;
	visibility: hidden;
	position:fixed;
	align-items: center;
	justify-content: center;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%); 
	width:100%;
	height:100%;
	padding: 10%;
	border-radius: 25px;
	background: black;
	opacity: 0;
	transition: .3s;
	&.show {
		visibility: visible;
		opacity: 0.6; 
	}
	.modal_wrap{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width:50%;
		height:50%;  
		border-radius: 25px;
		background: #fff;
	}
	.my-3{
		&~.my-3{
		}
		.form_control {
			padding: 0 10px;
			height: 30px;
			border: 1px solid black;
			border-radius: 5px;
		}
		p{
			visibility: hidden;
			margin: unset;
			font-size: 11px;
			color: red;
			&.on{
				visibility: visible;
			}
		}
	}
	
	.btn_wrap{
		display: flex;
		margin-top: 10px;
		.btn {
			color: #fff;
			width: 50%;
			height: 30px;
			border: none;
		}
		.btn_primary {
			background: blue;
		}
		.btn_danger {
			background: red;
		}
	}
	
}
.dark_mode_area{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	.btn_dark{
		background: #303030;
		border: 1px solid #000;
		color: #fdfdda;
		border-radius: 5px;
		padding: 3px 10px;
		&.light{
			background: #fdfdda;
			color: #303030;
			border: 1px solid #ffff41;
		}
	}
}

.carousel{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style: none;
		}
	}
	.slide{
		width: 100%;
		overflow: hidden;
	}
	.img_wrap{
		width: 100%;
		height: 300px;
		position: relative;
		display: flex;
		align-items: flex-start;
		// transition: .5s;
		li{
			width: 100%;
			height: 100%;
			flex-shrink: 0;
			&.img01{
				background: skyblue;
			}
			&.img02{
				background: yellowgreen;
			}
			&.img03{
				background: plum;
			}
			&.img04{
				background: rgb(137, 130, 234);
			}
			&.img05{
				background: rgb(218, 206, 102);
			}
		}
	}
	.btn_wrap{
		display: flex;
		li{
			padding: 20px 24px;
			color: #fff;
			background: #000;
			&~li{
				margin-left: 10px;
			}
		}
	}
	.btn_wrap02{
		// position: absolute;
		// width: 80%;
		display: flex;
		justify-content: space-between;
		button{
			padding: 20px 24px;
			background: #000;
			color: #fff;
		}
	}
}

.return{
	.prd_wrap{
		display: grid;
		grid-template-columns: 1fr 1fr;
		li{
			list-style: none;
			width: 100%;
			display: flex;
			flex-direction: column;
			margin-bottom: 10px;
		}
		.img{
			width: 90%;
			height: 50px;
			background: #ffff41;
		}
		p{
			font-size: 16px;
		}
	}
}

.scroll{
	margin: 0;
	padding: 0;
	
	.navbar{
		padding: 20px;
		background: gray;
		color: #fff;
		position: fixed;
		width: 100%;
		z-index: 99;
		.logo{
			font-size: 40px;
			font-weight: bold;
			letter-spacing: .5px;
			transition: .3s;
		}
	}
	.side_ui{
		position: fixed;
		width: 10px;
		height: 100dvh;
		background: rgb(248, 248, 162);
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		z-index: 999;
		.read{
			height:0%;
			background: black;
		}
	}
}

.modal{
	header{
		background: rgba($color: #000000, $alpha: 0.3);
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding: 20px 40px;
		h2{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		.btn_wrap{
			button{
				outline: none;
				border: none;
				padding: 5px 10px;
				border-radius: 3px;
				cursor: pointer;
				&~button{
					margin-left: 10px;
				}
			}
		}
	}
	.alert_pop{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		background: rgba($color: #000000, $alpha: 0.8);
		cursor: pointer;
		&.view{
			visibility: visible;
		}
		.input_wrap{
			background: #fff;
			border: 1px solid black;
			border-radius: 10px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 100px;
			cursor: default;
			h3{
				text-align: center;
				margin-bottom: 30px;
				font-size: 24px;
			}
			.input_box{
				display: flex;
				justify-content: space-between;
				align-items: center;
				&~.input_box{
					margin-top: 10px;
				}
				p{
					margin-right: 10px;
				}
				input{
					padding: 5px 0;
				}
			}
			.btn_wrap{
				display: flex;
				padding: 20px 20px 0;
				button{
					width: 50%;
					padding: 5px 0;
					border-radius: 5px;
					border: none;
					color: #fff;
					background: #000;
					cursor: pointer;
					&~button{
						margin-left: 5px;
					}
				}
			}
		}
	}
}

.array{
	.card_wrap {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.card {
		// @for $i from 1 through 5 {
		// 	&:nth-child(#{$i}) {
		// 		.img {
		// 			background: mix(#ff0000, #0000ff, $i * 20%);
		// 		}	
		// 	}
		// }
		margin: 40px;
		.img{
			width: 150px;
			height: 100px;
			background: yellow;
			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		span {
			display: block;
		}
		.id {
			display: none;
		}
	}
	.btn_wrap {
		padding: 50px;
		
		.input_wrap {
			margin-top: 10px;
			display: flex;
			align-items: center;
			gap: 6px;
			input {
				padding: 6px 12px 8px;
				border-radius: 8px;
				outline: none;
			}
		}
	}
}

.select01{
	.size{
		&.hide{
			display: none;
		}
	}
}

.btn_blue {
	padding: 6px 12px 8px;
	outline: none;
	border: none;
	background: #5da1fa;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
}

.cart_page {
	display: flex;
	flex-direction: column;
	padding: 30px;
	h1 {
		margin-bottom: 30px;
	}
	.prd_cart {
		display: flex;
		margin: 5px 0;
		align-items: center;
		p{
			margin: 0 6px;
		}
		.img_wrap {
			width: 100px;
			height: 100px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		button {
			width: 30px;
			height: 30px;
			border: 1px solid black;
			border-radius: 4px;
			background: none;
			cursor: pointer;
			&~button{
				margin-left: 8px;
			}
		}
	}
}
.sticky {
	.box{
		width: 100%;
		height: 100vh;
	}
	.container {
		display: flex;
		position: relative;
		height: 100vh;
		.text_wrap {
			width: 50%;
			height: 100%;
			.text_box{
				width: 100%;
				height: 200vh;
			}
		}
		.img_wrap {
			width: 50%;
			position: sticky;
			top: 100px;
			height: calc(50% - 100px);
			img{
				display: block;
				width: 100%;
			}
		}
	}
}

.apple_music {
	.card_wrap {
		height: 3000px;
		margin-top: 800px;
		margin-bottom: 1600px;
	}
	.card_box {
		position: sticky;
		top: 400px;
		margin-top: 200px;
		// transition : all 0.2s;
		img {
			display: block;
			margin: auto;
			max-width: 80%;
		}
	}
}

.final {
	background: #eee;
	header {
		display: flex;
		align-items: center;
		padding: 15px;
		background: #000;
		color: #fff;
		ul {
			display: flex;
			gap: 10px;
			margin-left: 20px;
			li {
				color: #bbbbbb;
				&.active{
					font-weight: bold;
					color: #fff;
				}
			}
		}
	}
	section {
		margin:0 30px;
		&~section {
			margin-top: 20px;
		}
		&.input_section {
			padding-top: 15px;
			#search {
				padding: 12px;
			}
		}
	}
	.prd_section {
		ul {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 20px;
			.card {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: 10px;
				padding: 15px;
				background: #fff;
				.text_wrap {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					gap: 10px;
					.title {
						.highlight{
							background: yellow;
							font-weight: bold;
						}
					}
					.brand {
						font-size: 13px;
						color: #666;
					}
					.price {
					}
					.btn {
						width: 100%;
						padding: 4px 12px 6px;
						color: #fff;
						font-size: 16px;
						background: #000;
						cursor: pointer;
					}
				}
			}
			.empty_msg {
				padding: 20px 0;
			}
		}
	}
	.cart_section {
		padding: 15px;
		background: #ddd;
		.cart {
			display: flex;
			justify-content: center;
			// grid-template-columns: repeat(4, 1fr);
			width: 100%;
			min-height: 200px;
			color: #fff;
			background: #000;
			overflow-x: scroll;
			li {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 10px;
				margin: 5px;
				text-align: center;
				background: #fff;
				.text_wrap {
					color: #000;
					.count{
						border: 1px solid #000;
						border-radius: 3px;
						margin: 0 20px;
					}
				}
			}
		}
	}
}