@import '../setting/mixin.scss' ;
.univ_swiper_area{
	background: #0856c0;
	padding-bottom:10.67%;
	overflow: hidden;
	.univ_swiper{
		width:87.46%;
		overflow: visible;
	}
	.swiper-pagination {
		position:absolute;
		bottom:-9.01% !important;
		left:0;
		right:0;
	}
	.swiper-pagination-bullet {
		opacity:1;
		background:#fff;
	}
	.swiper-pagination-bullet-active {
		background:#2fcffd;
	}
}
progress{
	width: 100px;
	height: 30px;
	-webkit-appearance: none;
	-moz-appearance : none;
	appearance: none;
	background: white;
  /* IE10 νΈν™μ„±μ© */
	color: red;
	border-radius: 5px;
	&::-webkit-progress-bar {
		background-color: #eee;
		border-radius: 5px;
	}
	&::-webkit-progress-value {
		background-color: red;
		border-radius: 5px;
	}
}
.univ_begin{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffe7be;
	padding: 20px 0;
	.univ_title{
		display: flex;
		justify-content: center;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
	}
	.input_area{
		width: 100%;
		margin-top: 5%;
		padding-bottom: 10.2%;
		.form_wrap {
			margin: 0 6.26%;
			padding: 7.6% 5.85%;
			border: 2px solid #ffa356;
			border-radius: 10px;
			background: #fff;
			.input_set{
				display: flex;
				justify-content: space-between;
				align-items: center;
				position:relative;
				.form_txt{
					width: calc(100% - 57px);
					input[type='text']{
						width: 100%;
						height: 37px;
						margin-right: 1.4%;
						padding: 0 8px;
						border: 1px solid #acacac;
						border-radius: 5px;
						font-size: 14px;
						font-weight: normal;
						&::placeholder{
							font-size: 14px;
							color: #000;
						}
						&:disabled{
							background: #ebebeb;
							color: #888888;
							border: 1px solid #ebebeb;
						}
					}
				}
				button{
					width: 52.5px;
					height: 37px;
					border-radius: 5px;
					&:disabled{
						background: #ebebeb;
						color: #888888;
					}
				}
			}
			.search_msg{
				padding: 4px 8px;
				> p{
					font-size: 12px;
					text-align: left;
					display: none;
					color: red;
				}
				.list{
					li{
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 4px 0;
						border-bottom: 1px solid gray;
						&:last-child{
							border-bottom: unset;
						}
						p{
							font-size: 13px;
						}
						button{
							font-size: 13px;
							border-radius: 5px;
							padding: 6px;
							color: #fff;
							background: #464646;
						}
					}
				}
			}
			.btn_reset{
				display: block;
				padding:3% 5%;
				margin: 0 auto;
				border-radius: 5px;
			}
			.btn_comp{
				display: block;
				width: 100%;
				padding:5% 0%;
				margin-top: 3%;
				border-radius: 5px;
			}
			.notice_txt{
				margin-top: 3%;
				text-align: left;
				font-size: 12px;
				line-height: 14px;
				font-weight: normal;
				color: #575757;
			}
		}
	}
	.join_area{
		width: 100%;
		.join_wrap{
			margin: 0 6.26%;
			padding: 7.6% 5.85%;
			border: 2px solid #ffa356;
			border-radius: 10px;
			background: #fff;
			.join_tit{
				text-align: center;
				font-size: 16px;
			}
			.btn_wrap{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin-top: 5%;
				padding: 5px 0 10px 0;
				border: 2px solid rgb(241, 224, 203);
				border-radius: 25px;
				background: #ffa356;
				.btn_join{
					transform: rotate(0deg);
					margin: 10% 20%;
					border-radius: 20px;
					font-size: 24px;
					background: transparent;
					&.clicked{
						animation: shake .8s ease-out 1;
						@include keyframes(shake){
							10% {transform: rotate(5deg);}
							20% {transform: rotate(-5deg);}
							60% {transform: rotate(10deg);}
							80% {transform: rotate(-10deg);}
						}
					}
				}
				p{
					padding: 0 0 5px;
					font-size: 14px;
				}
			}
			.name_wrap{
				margin: 5% 10%;
				padding: 3% 5%;
				border-radius: 10px;
				font-size: 14px;
				font-weight: bold;
				background: #ffa356;
				p{
					&:first-child{
						margin-bottom: 2%;
					}
				}
			}
		}
	}
}

.practice{
	width: 100%;
	height: 150px;
	background: #f37878;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	button{
		width: 30px;
		height: 30px;
	}
	.alert_box{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 80%;
		height: 50%;
		background: yellowgreen;
		visibility: hidden;
	}
}