.coupon_grap{
    position: relative;
	background: #4F5B45;
	.coupon_wrap{
		position: relative;
		margin-bottom: 5.97%;
		.center_img{
			&.center_img02{
				display: none;
			}
		}
		.grap_area{
			position: absolute;
			bottom: 5.06%;
			left: 10%;
			right: 10%;
			.grap{
				height: 3.71%;
				border-radius: 5px;
				background: #f4f4f4;
				margin: 0 5%;
				.grap_inside{
					position: relative;
					width: 100%;
					padding-top: 3.71%;
					border-radius: 5px;
					background: url('../../../assets/img/coupon_grap/grap_bg.png') 100% repeat-x;
					transition: 0.4s;
					&::after{
						content: '';
						position: absolute;
						top: 50%;
						left: 100%;
						transform: translate(-50%, -50%);
						width: 37px;
						height: 21px;
						background: url('../../../assets/img/coupon_grap/cloud.png') center / 100% no-repeat;
					}
				}
			}
			.count_box{
				text-align: right;
				margin: 3.34% 5% 4.67%;
			}
			.btn_coupon{
				width: 100%;
				background: none;
				border: none;
			}
			.btn_coupon_off{
				display: none;
				width: 100%;
				border: none;
				background: none;
				margin: 0 auto;
			}
		}
		&.off{
			.btn_coupon{
				display: none;
			}
			.btn_coupon_off{
				display: block;
			}
			.center_img{
				&.center_img01{
					display: none;
				}
				&.center_img02{
					display: block;
				}
			}
		}
	}
}
